global
    log stdout format raw local0
    maxconn 4096
    daemon
    nbthread 1

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 3s
    timeout client 5s
    timeout server 5s
    timeout http-request 5s
    timeout queue 3s

frontend api
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    default-server inter 2s fall 2 rise 2
    server api1 api1:8080 check
    server api2 api2:8080 check
