global
    log stdout format raw local0
    maxconn 65536
    daemon
    nbthread 4
    tune.bufsize 32768
    tune.maxrewrite 1024

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 1s
    timeout client 3s
    timeout server 2s

frontend api
    bind *:9999
    maxconn 65536
    default_backend apis

backend apis
    balance leastconn
    option tcp-check
    server api1 api1:8080 check inter 3s fall 3 rise 2 maxconn 32768
    server api2 api2:8080 check inter 3s fall 3 rise 2 maxconn 32768
